In [ ]:
/*
Enter your query here.
Please append a semicolon ";" at the end of the query
*/

SELECT DISTINCT P.NAME PROFESSOR_NAME, C.NAME COURSE_NAME
FROM PROFESSOR P
INNER JOIN SCHEDULE S ON P.ID=S.PROFESSOR_ID
INNER JOIN COURSE C ON C.ID=S.COURSE_ID;

In [1]:
select p.product_id,
round(cast(sum(p.price*us.units) as decimal)/sum(us.units),2)
from prices as p, UnitsSold as us
where us.purchase_date between p.start_date and p.end_date
and p.product_id = us.product_id
group by p.product_id

SyntaxError: invalid syntax (1754150633.py, line 1)

In [2]:
import pandas as pd

# Sample dataframe creation (Replace this with your actual dataframe)
data = {'school_id': [1, 2, 3, 4],
        'state_code': ['NY123', 'CA456', 'TX789', 'NY123'],
        'subjects': ['math english physics', 'chemistry english', 'math physics', 'math chemistry']}
df = pd.DataFrame(data)

# Drop schools offering fewer than 3 subjects
df = df[df['subjects'].apply(lambda x: len(x.split())) >= 3]

# Clean the 'state_code' column to contain only alpha-numeric characters
df['state_code'] = df['state_code'].str.replace(r'[^a-zA-Z0-9]', '')

# Split subjects and count occurrences for each state
subjects_list = ['English', 'Math', 'Physics', 'Chemistry']
for subject in subjects_list:
    df[subject] = df['subjects'].apply(lambda x: x.split().count(subject.lower()))

# Group by state and sum the counts for each subject
result_df = df.groupby('state_code').agg({'English': 'sum', 'Math': 'sum', 'Physics': 'sum', 'Chemistry': 'sum'}).reset_index()

print(result_df)

  state_code  English  Math  Physics  Chemistry
0      NY123        1     1        1          0

/var/folders/87/mngdtl395015kkpjbht_xrfw0000gn/T/ipykernel_10434/2952657700.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df['state_code'] = df['state_code'].str.replace(r'[^a-zA-Z0-9]', '')

In [6]:
import pandas as pd

def schoolCount(input_df):
    # Drop schools offering <3 subjects
    df = input[input['subjects'].apply(lambda x: len(x.split())) >= 3]

    # Clean the 'state_code' to coantain only alpha-numeric chars
    df['state_code'] = df['state_code'].str.replace(r'[^a-zA-Z0-9]', '')

    # Split subjects and count occurrences for each state
    subjects_list = ['english', 'math', 'physics', 'chemistry']
    for subject in subjects_list:
        df[subject] = df['subjects'].apply(lambda x: x.split().count(subject.lower()))

    # Group by state and sum the counts for each subject
    result_df = df.groupby('state_code').agg({'english': 'sum', 'math': 'sum', 'physics': 'sum', 'chemistry': 'sum'}).reset_index()
    
    return result_df

# Sample dataframe creation (Replace this with your actual dataframe)
data = {'school_id': [1, 2, 3, 4],
        'state_code': ['NY1@@236££', '>)"CA45@@6', 'TX789', 'NY123'],
        'subjects': ['math english physics', 'chemistry english', 'math physics', 'math chemistry']}
df = pd.DataFrame(data)

result = process_school_data(df)
print(result)

  state_code  English  Math  Physics  Chemistry
0     NY1236        1     1        1          0

/var/folders/87/mngdtl395015kkpjbht_xrfw0000gn/T/ipykernel_10434/64748028.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['state_code'] = df['state_code'].str.replace(r'[^a-zA-Z0-9]', '')
/var/folders/87/mngdtl395015kkpjbht_xrfw0000gn/T/ipykernel_10434/64748028.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state_code'] = df['state_code'].str.replace(r'[^a-zA-Z0-9]', '')
/var/folders/87/mngdtl395015kkpjbht_xrfw0000gn/T/ipykernel_10434/64748028.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[subject] = df['subjects'].apply(lambda x: x.split().count(subject.lower()))
/var/folders/87/mngdtl395015kkpjbht_xrfw0000gn/T/ipykernel_10434/64748028.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[subject] = df['subjects'].apply(lambda x: x.split().count(subject.lower()))
/var/folders/87/mngdtl395015kkpjbht_xrfw0000gn/T/ipykernel_10434/64748028.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[subject] = df['subjects'].apply(lambda x: x.split().count(subject.lower()))
/var/folders/87/mngdtl395015kkpjbht_xrfw0000gn/T/ipykernel_10434/64748028.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[subject] = df['subjects'].apply(lambda x: x.split().count(subject.lower()))