Autho: [Vronsky Wikramanayake](https://www.linkedin.com/in/vronskyw/)

General Notes
- Q1A was not attempted. All other questions are completed.
- I am relatively new to futures tick data engineering & analysis, hence why I would need more time to build the right metadata or find the correct date libraries to solve for 1A. This is something I have had to look at for my current role in partnership with quant devs. I have been working mainly on index futures. I have been involved in procurement, testing and piping the raw feeds for one time history from various aggregators and appending ongoing data via Bloomberg bpipe.

Technical Notes
- I have chosen to move to pandas too early in this analysis and with more time, would have liked to learn to do more directly working inside the Hierarchical Data Format world. 
- I assume from the review that trades_filter0vol is all records of data that have >0 volume from trades. I have isolated my analysis to this subsection only.

References
- [Understanding futures instruments](https://www.cmegroup.com/month-codes.html), states instruments are constructed "Globex product code + Month + Year. eg ESH04 = s&p e-mini march 2004 (quarterly), 
- [Understanding Futures Expiration & Contract Roll](https://www.cmegroup.com/education/courses/introduction-to-futures/understanding-futures-expiration-contract-roll.html)

Failed Installs
- hdf5:  does not work #had trouble installing these on my macbook m1
- Tables & pytables: does not work, had trouble installing these on my macbook m1

In [1]:
# IMPORTING LIBRARIES REQUIRED

import h5py
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import jarque_bera

%matplotlib inline

### 0. Reviewing the data & Imports

In [2]:
# SET VIEWING OPTIONS FOR DATAFRAMES

pd.set_option("display.max_rows", 2000)
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 100)
pd.options.display.width = 0
pd.options.display.float_format = ("{:,.2f}".format
)  # all floats with 2 decimal place forced precision

In [3]:
#SETTING THE ASSET FILE LOCATION

f = h5py.File('/Users/vronskywikramanayake/documents/assets/adia/ES.h5', 'r')
file_path = '/Users/vronskywikramanayake/documents/assets/adia/ES.h5'

In [4]:
# REVIEW THE H5 FILE STRCUTURE AND NESTED GROUPS

def print_hdf5_structure(item, indent=0):
    if isinstance(item, h5py.Group):
        print("  " * indent + f"Group: {item.name}")
        for key in item.keys():
            print_hdf5_structure(item[key], indent + 1)
    elif isinstance(item, h5py.Dataset):
        print("  " * indent + f"Dataset: {item.name}")

with f as file:
    print_hdf5_structure(file)

Group: /
  Group: /tick
    Dataset: /tick/trades
    Dataset: /tick/trades_filter0vol

In [5]:
# RESET THE ASSET FILE LOCATION FOR FURTHER USE

f = h5py.File('/Users/vronskywikramanayake/documents/assets/adia/ES.h5', 'r')
file_path = '/Users/vronskywikramanayake/documents/assets/adia/ES.h5'

In [6]:
# PRINT THE FILTERED TRADES INFORMATION

tradesFilterd = f['/tick/trades_filter0vol']

print(tradesFilterd.dtype)
print(tradesFilterd.shape)
print(tradesFilterd[500:505])

[('Instrument', 'S5'), ('Price', '<f4'), ('Time', 'S17'), ('Volume', '<u4')]
(856183065,)
[(b'ESU03', 973.25, b'20030701030925000',  1)
 (b'ESU03', 973.25, b'20030701030925000',  1)
 (b'ESU03', 973.  , b'20030701030930000',  1)
 (b'ESU03', 973.  , b'20030701030931000',  1)
 (b'ESU03', 973.  , b'20030701030943000', 25)]

In [9]:
# LOAD DATA INTO PANDAS DF & DECODE FIELDS

"""
- Method to be able to operate on a personal machine: reducing the size of data loaded into pandas by taking every 10k records/ticks.
- Problem with this approach: we will miss may trades / ticks between 10k marks, we will also miss all the volume between these ticks. 
- Possible addition: I could have built a method similar to vwap (volume weighted average price) which sums all the volume and takes a vwap price for every 10k block to represent the data more fairly.  
"""

df = pd.DataFrame(tradesFilterd[::10000])

# decode Instrument & Time, reformat Time to a friendly strcture. 

df['Time'] = df['Time'].apply(lambda x: x.decode('utf-8'))
df['Time'] = pd.to_datetime(df['Time'], format='%Y%m%d%H%M%S%f')

df['Instrument'] = df['Instrument'].apply(lambda x: x.decode('utf-8'))

In [10]:
# VIEW AN ISOLATED FUTURES SERIES OVER TIME

df.loc[df['Instrument'] == 'ESH04'].head()

    Instrument    Price                Time  Volume
836      ESH04 1,062.75 2003-12-11 08:50:46       3
837      ESH04 1,064.00 2003-12-11 09:21:45       5
838      ESH04 1,066.50 2003-12-11 09:51:40      10
839      ESH04 1,066.00 2003-12-11 10:54:14      20
840      ESH04 1,065.50 2003-12-11 12:17:37      10

In [9]:
# VIEW THE MIN / MAN DATES FOR EACH FUTURES SERIES

print(df.groupby('Instrument')['Time'].agg(['min', 'max']).reset_index())

   Instrument                     min                     max
0       ESH04 2003-12-11 08:50:46.000 2004-03-10 15:05:57.000
1       ESH05 2004-12-09 08:51:29.000 2005-03-09 14:52:53.000
2       ESH06 2005-12-08 08:31:19.000 2006-03-08 14:16:23.000
3       ESH07 2006-12-07 06:46:30.000 2007-03-07 14:56:27.000
4       ESH08 2007-12-13 07:40:33.000 2008-03-12 14:51:17.000
5       ESH09 2008-12-10 17:01:29.000 2009-03-11 15:00:10.000
6       ESH10 2009-12-10 02:25:22.000 2010-03-10 14:59:59.000
7       ESH11 2010-12-09 07:53:19.000 2011-03-10 15:02:46.000
8       ESH12 2011-12-08 15:54:38.325 2012-03-08 14:57:05.287
9       ESH13 2012-12-13 19:59:09.234 2013-03-07 15:13:02.170
10      ESH14 2013-12-12 21:58:56.263 2014-03-13 15:34:46.805
11      ESH15 2014-12-11 18:35:52.936 2015-03-12 15:50:47.516
12      ESM04 2004-03-11 08:36:24.000 2004-06-09 14:54:29.000
13      ESM05 2005-03-10 08:38:14.000 2005-06-08 14:42:47.000
14      ESM06 2006-03-09 08:40:05.000 2006-06-07 15:00:22.000
15      ESM07 2007-03-08 08:48:10.000 2007-06-06 14:52:35.000
16      ESM08 2008-03-12 17:00:27.000 2008-06-11 14:52:09.000
17      ESM09 2009-03-12 07:01:58.000 2009-06-10 15:10:46.000
18      ESM10 2010-03-10 20:48:45.000 2010-06-09 15:02:50.000
19      ESM11 2011-03-10 18:47:25.000 2011-06-09 15:04:45.000
20      ESM12 2012-03-08 18:00:16.283 2012-06-07 15:14:53.659
21      ESM13 2013-03-08 02:13:42.791 2013-06-13 15:00:07.423
22      ESM14 2014-03-13 21:55:18.644 2014-06-12 15:03:12.387
23      ESM15 2015-03-13 03:00:54.205 2015-06-11 15:01:14.245
24      ESU03 2003-06-30 23:00:01.000 2003-09-10 14:45:12.000
25      ESU04 2004-06-10 08:45:51.000 2004-09-08 14:33:08.000
26      ESU05 2005-06-09 08:37:00.000 2005-09-07 14:31:10.000
27      ESU06 2006-06-08 08:40:08.000 2006-09-06 14:03:07.000
28      ESU07 2007-06-07 08:30:09.000 2007-09-12 14:53:00.000
29      ESU08 2008-06-12 03:54:14.000 2008-09-10 14:55:22.000
30      ESU09 2009-06-11 08:07:02.000 2009-09-09 14:48:04.000
31      ESU10 2010-06-10 01:41:55.000 2010-09-09 15:01:59.000
32      ESU11 2011-06-10 00:38:07.000 2011-09-08 14:57:28.803
33      ESU12 2012-06-08 02:00:13.329 2012-09-13 15:09:29.105
34      ESU13 2013-06-13 17:00:00.029 2013-09-12 15:00:01.059
35      ESU14 2014-06-12 20:24:10.855 2014-09-11 16:03:50.391
36      ESU15 2015-06-12 02:42:50.726 2015-09-10 15:38:57.699
37      ESZ03 2003-09-11 08:56:32.000 2003-12-10 15:04:16.000
38      ESZ04 2004-09-09 07:49:28.000 2004-12-08 14:56:55.000
39      ESZ05 2005-09-08 08:32:03.000 2005-12-07 14:46:41.000
40      ESZ06 2006-09-07 08:37:30.000 2006-12-06 13:20:19.000
41      ESZ07 2007-09-13 07:24:41.000 2007-12-12 15:12:00.000
42      ESZ08 2008-09-11 04:18:55.000 2008-12-10 14:56:57.000
43      ESZ09 2009-09-09 18:08:24.000 2009-12-09 15:00:00.000
44      ESZ10 2010-09-09 21:45:19.000 2010-12-08 15:11:18.000
45      ESZ11 2011-09-08 15:31:00.173 2011-12-08 15:00:18.567
46      ESZ12 2012-09-13 22:43:50.853 2012-12-13 15:11:05.714
47      ESZ13 2013-09-12 19:28:05.941 2013-12-12 15:08:14.174
48      ESZ14 2014-09-12 03:02:57.260 2014-12-11 15:14:37.332
49      ESZ15 2015-09-11 01:04:18.479 2015-10-13 15:11:04.885

In [ ]:
# PLOT EACH SERIES

"""
Plot each instrument series to check for any data issues/anomalies visually (eg, spikes & missing data), with more time, more robust systematic checks and alarms should be put in place. I am happy to
delve into the data quality measures i have built per asset class / data family (nuance specific) which has downstream real time analytics, warning triggers (eg emails) & remediation steps.
"""

for instrument, group in df.groupby('Instrument'):
    plt.figure(figsize=(8, 4))  # Adjust the figure size as needed
    plt.plot(group['Time'], group['Price'])
    plt.title(f'Time Series Plot for Instrument {instrument}')
    plt.xlabel('Time')
    plt.ylabel('Price')
    plt.show()

### A. Form a continuous price series, by adjusting for rolls
- question 1A not attempted, notes on method are below.

In [118]:
"""
- With more time, i would have liked to create a method to build an expiry date column specific to s&p futures, in the past i have used copp clark calendar service for various derivatives including futures dates. 
- I understand these contracts expire every quarter on the 3rd Friday of March, June, September and December with each expiration month denoted by an “H”, “M”, “U” and “Z” respectively.
- From there you could build a roll method changing the front month as you reach expiry.
- The roll method could use a relative or absolute calculation method.
"""

'\n- With more time, i would have liked to create a method to build an expiry date column specific to s&p futures, in the past i have used copp clark calendar service for various derivatives including futures dates. \n- I understand these contracts expire every quarter on the 3rd Friday of March, June, September and December with each expiration month denoted by an “H”, “M”, “U” and “Z” respectively.\n- From there you could build a roll method changing the front month as you reach expiry.\n- The roll method could use a relative or absolute calculation method.\n'

### B. Sample observations by forming tick, volume, and dollar-traded bars

Steps
- All bars created will come in the form OHLC (Open, High, Low, Close)
- The time element in each new record is taken as the last time from the final record used to create the bar. 
- For tick bars: based on the number of ticks chosen
- For volume bars: based on a fixed volume chosen
- For dollar-traded bars: based on a fixed dollar amount chosen

In [11]:
# Set the number of ticks
ticks_per_bar = 5

# Calculate a temp bar number
df['BarNumber'] = (df.groupby('Instrument').cumcount() // ticks_per_bar) + 1

# Group by instrument and bar number, then aggregate
ohlc_data = df.groupby(['Instrument', 'BarNumber']).agg({
    'Price': ['first', 'max', 'min', 'last'],
    'Time': 'last',  # Snap to the last time
    'Volume': 'sum'
}).reset_index()

# Rename columns
ohlc_data.columns = ['Instrument', 'BarNumber', 'Open', 'High', 'Low', 'Close', 'LastTime', 'Volume']

# Drop the BarNumber column if not needed in the final result
ohlc_data = ohlc_data.drop(columns='BarNumber')

print(ohlc_data)

      Instrument     Open     High      Low    Close                LastTime  \
0          ESH04 1,062.75 1,066.50 1,062.75 1,065.50 2003-12-11 12:17:37.000
1          ESH04 1,067.00 1,072.00 1,067.00 1,071.00 2003-12-12 08:31:07.000
2          ESH04 1,067.00 1,069.50 1,067.00 1,069.50 2003-12-12 11:50:39.000
3          ESH04 1,069.00 1,088.50 1,069.00 1,083.00 2003-12-15 08:31:39.000
4          ESH04 1,080.75 1,080.75 1,077.00 1,078.25 2003-12-15 10:50:25.000
...          ...      ...      ...      ...      ...                     ...
17141      ESZ15 2,004.25 2,010.00 2,004.25 2,009.25 2015-10-12 14:46:04.715
17142      ESZ15 2,012.00 2,012.00 1,998.50 1,998.50 2015-10-13 08:31:25.625
17143      ESZ15 2,002.75 2,014.25 2,002.75 2,014.25 2015-10-13 10:13:00.268
17144      ESZ15 2,009.75 2,009.75 2,000.50 2,002.00 2015-10-13 13:48:17.981
17145      ESZ15 1,995.50 1,995.50 1,995.50 1,995.50 2015-10-13 15:11:04.885

       Volume
0          48
1          37
2          38
3          28
4          76
...       ...
17141      12
17142      14
17143      33
17144      35
17145      31

[17146 rows x 7 columns]

In [14]:
# Set the target volume to count
volume_per_bar = 20

# Group by instrument and calculate cumulative volume
df['CumVolume'] = df.groupby('Instrument')['Volume'].cumsum()

# Calculate the bar number based on the target volume
df['BarNumber'] = (df['CumVolume'] // target_volume_per_bar).astype(int) + 1

# Group by instrument and bar number, then aggregate
ohlc_data = df.groupby(['Instrument', 'BarNumber']).agg({
    'Price': ['first', 'max', 'min', 'last'],
    'Time': 'last',  # Snap to the last time
    'Volume': 'sum'
}).reset_index()

# Rename columns
ohlc_data.columns = ['Instrument', 'BarNumber', 'Open', 'High', 'Low', 'Close', 'LastTime', 'Volume']

# Drop the BarNumber column if not needed in the final result
ohlc_data = ohlc_data.drop(columns='BarNumber')

print(ohlc_data)

NameError: name 'target_volume_per_bar' is not defined

In [12]:
# Set the target dollar amount
dollar_per_bar = 100000

# Calculate cumulative dollar amount and determine bar numbers
df['DollarAmount'] = df['Price'] * df['Volume']
df['CumDollar'] = df.groupby('Instrument')['DollarAmount'].cumsum()
df['BarNumber'] = (df['CumDollar'] // dollar_per_bar).astype(int) + 1

# Group by instrument and bar number, then aggregate
ohlc_data = df.groupby(['Instrument', 'BarNumber']).agg({
    'Price': ['first', 'max', 'min', 'last'],
    'Time': 'last',  # Snap to the last time
    'Volume': 'sum'
}).reset_index()

# Rename columns
ohlc_data.columns = ['Instrument', 'BarNumber', 'Open', 'High', 'Low', 'Close', 'LastTime', 'Volume']

# Drop the CumDollar and BarNumber columns if not needed in the final result
ohlc_data = ohlc_data.drop(columns=['BarNumber'])

print(ohlc_data)

     Instrument     Open     High      Low    Close                LastTime  \
0         ESH04 1,062.75 1,072.00 1,062.75 1,067.00 2003-12-12 08:54:23.000
1         ESH04 1,068.00 1,088.50 1,068.00 1,077.00 2003-12-15 10:03:23.000
2         ESH04 1,078.25 1,078.25 1,066.75 1,073.00 2003-12-16 15:00:28.000
3         ESH04 1,071.50 1,075.00 1,071.00 1,075.00 2003-12-17 14:56:36.000
4         ESH04 1,077.00 1,088.00 1,077.00 1,088.00 2003-12-19 09:53:20.000
...         ...      ...      ...      ...      ...                     ...
5706      ESZ15 2,006.75 2,011.25 2,000.00 2,007.50 2015-10-09 09:50:26.723
5707      ESZ15 2,009.25 2,009.25 1,999.00 2,004.75 2015-10-09 14:00:24.874
5708      ESZ15 2,007.25 2,012.00 1,998.50 2,006.50 2015-10-13 09:03:42.936
5709      ESZ15 2,008.00 2,014.25 2,002.75 2,002.75 2015-10-13 12:14:02.340
5710      ESZ15 2,000.50 2,002.00 1,995.50 1,995.50 2015-10-13 15:11:04.885

      Volume
0         90
1         89
2        100
3         68
4        114
...      ...
5706      51
5707      35
5708     221
5709      43
5710      54

[5711 rows x 7 columns]

### C. Count the number of bars produced by tick, volume, and dollar bars on a weekly basis

Steps
- Group the bars by week and count the number of bars for each type.
- The bar type that produces the most stable weekly count is the one with the least variation in bar counts over time.
- Note: ESH05  2004-12-07/2004-12-13 looks a little dubious, weed out like records and understand why they are lower or higher than a chosen standard deviation.
- Note: Increasing Ticks & trading volumes (due to the instruments growing popularity) as well as dollar bars (given inflation and general instruments price appreciation) is understood.

In [15]:
# Calculate cumulative volume and cumulative dollar
df['CumVolume'] = df.groupby('Instrument')['Volume'].cumsum()
df['CumDollar'] = df['Price'] * df['Volume'].cumsum()

# Calculate tick, volume, and dollar bars
df['TickBarNumber'] = (df.groupby('Instrument').cumcount() // ticks_per_bar) + 1
df['VolumeBarNumber'] = (df['CumVolume'] // volume_per_bar).astype(int) + 1
df['DollarBarNumber'] = (df['CumDollar'] // dollar_per_bar).astype(int) + 1

# Group by instrument and week, then count the number of bars for each type
weekly_counts = df.groupby(['Instrument', df['Time'].dt.to_period("W-Mon")]).agg({
    'TickBarNumber': 'max',
    'VolumeBarNumber': 'max',
    'DollarBarNumber': 'max'
}).reset_index()

# Rename columns
weekly_counts.columns = ['Instrument', 'Week', 'TickBars', 'VolumeBars', 'DollarBars']

print(weekly_counts)

    Instrument                   Week  TickBars  VolumeBars  DollarBars
0        ESH04  2003-12-09/2003-12-15         7          13          89
1        ESH04  2003-12-16/2003-12-22        15          26          94
2        ESH04  2003-12-23/2003-12-29        18          29          95
3        ESH04  2003-12-30/2004-01-05        24          36          98
4        ESH04  2004-01-06/2004-01-12        34          50         102
5        ESH04  2004-01-13/2004-01-19        43          61         105
6        ESH04  2004-01-20/2004-01-26        53          76         110
7        ESH04  2004-01-27/2004-02-02        65          96         114
8        ESH04  2004-02-03/2004-02-09        75         105         116
9        ESH04  2004-02-10/2004-02-16        83         118         120
10       ESH04  2004-02-17/2004-02-23        92         130         122
11       ESH04  2004-02-24/2004-03-01       102         160         130
12       ESH04  2004-03-02/2004-03-08       113         174         133
13       ESH04  2004-03-09/2004-03-15       118         180         132
14       ESH05  2004-12-07/2004-12-13         5           9         302
15       ESH05  2004-12-14/2004-12-20        14          23         306
16       ESH05  2004-12-21/2004-12-27        19          28         310
17       ESH05  2004-12-28/2005-01-03        24          34         312
18       ESH05  2005-01-04/2005-01-10        36          60         312
19       ESH05  2005-01-11/2005-01-17        44          69         312
20       ESH05  2005-01-18/2005-01-24        55          99         316
21       ESH05  2005-01-25/2005-01-31        65         120         323
22       ESH05  2005-02-01/2005-02-07        73         141         334
23       ESH05  2005-02-08/2005-02-14        81         154         339
24       ESH05  2005-02-15/2005-02-21        88         171         342
25       ESH05  2005-02-22/2005-02-28        98         186         347
26       ESH05  2005-03-01/2005-03-07       107         197         355
27       ESH05  2005-03-08/2005-03-14       112         204         354
28       ESH06  2005-12-06/2005-12-12         6          21         565
29       ESH06  2005-12-13/2005-12-19        14          32         572
30       ESH06  2005-12-20/2005-12-26        17          52         575
31       ESH06  2005-12-27/2006-01-02        20          56         575
32       ESH06  2006-01-03/2006-01-09        26          86         593
33       ESH06  2006-01-10/2006-01-16        30         110         597
34       ESH06  2006-01-17/2006-01-23        37         117         598
35       ESH06  2006-01-24/2006-01-30        43         160         609
36       ESH06  2006-01-31/2006-02-06        49         172         609
37       ESH06  2006-02-07/2006-02-13        55         190         608
38       ESH06  2006-02-14/2006-02-20        60         200         620
39       ESH06  2006-02-21/2006-02-27        65         212         626
40       ESH06  2006-02-28/2006-03-06        71         231         630
41       ESH06  2006-03-07/2006-03-13        73         242         625
42       ESH07  2006-12-05/2006-12-11         3          27        1040
43       ESH07  2006-12-12/2006-12-18         8          49        1057
44       ESH07  2006-12-19/2006-12-25        12          58        1056
45       ESH07  2006-12-26/2007-01-01        14          68        1058
46       ESH07  2007-01-02/2007-01-08        20          87        1061
47       ESH07  2007-01-09/2007-01-15        25         120        1078
48       ESH07  2007-01-16/2007-01-22        31         144        1079
49       ESH07  2007-01-23/2007-01-29        36         167        1088
50       ESH07  2007-01-30/2007-02-05        42         215        1113
51       ESH07  2007-02-06/2007-02-12        47         236        1120
52       ESH07  2007-02-13/2007-02-19        50         325        1150
53       ESH07  2007-02-20/2007-02-26        55         332        1154
54       ESH07  2007-02-27/2007-03-05        70         393        1141
55       ESH07  2007-03-06/2007-03-12        74         399        1124
56       ESH08  2007-12-11/2007-12-17         8          10        1701
57       ESH08  2007-12-18/2007-12-24        21          40        1720
58       ESH08  2007-12-25/2007-12-31        27          70        1722
59       ESH08  2008-01-01/2008-01-07        40         102        1699
60       ESH08  2008-01-08/2008-01-14        63         187        1664
61       ESH08  2008-01-15/2008-01-21        87         289        1656
62       ESH08  2008-01-22/2008-01-28       122         359        1646
63       ESH08  2008-01-29/2008-02-04       144         415        1701
64       ESH08  2008-02-05/2008-02-11       168         457        1677
65       ESH08  2008-02-12/2008-02-18       183         489        1683
66       ESH08  2008-02-19/2008-02-25       202         523        1702
67       ESH08  2008-02-26/2008-03-03       222         561        1722
68       ESH08  2008-03-04/2008-03-10       247         674        1688
69       ESH08  2008-03-11/2008-03-17       255         711        1697
70       ESH09  2008-12-09/2008-12-15        18          27        1580
71       ESH09  2008-12-16/2008-12-22        46          65        1612
72       ESH09  2008-12-23/2008-12-29        53          77        1542
73       ESH09  2008-12-30/2009-01-05        65          94        1647
74       ESH09  2009-01-06/2009-01-12        89         151        1661
75       ESH09  2009-01-13/2009-01-19       117         185        1552
76       ESH09  2009-01-20/2009-01-26       153         235        1521
77       ESH09  2009-01-27/2009-02-02       180         292        1571
78       ESH09  2009-02-03/2009-02-09       206         357        1583
79       ESH09  2009-02-10/2009-02-16       232         389        1572
80       ESH09  2009-02-17/2009-02-23       266         459        1471
81       ESH09  2009-02-24/2009-03-02       300         530        1433
82       ESH09  2009-03-03/2009-03-09       337         612        1344
83       ESH09  2009-03-10/2009-03-16       351         624        1367
84       ESH10  2009-12-08/2009-12-14        14          17        2484
85       ESH10  2009-12-15/2009-12-21        45          44        2493
86       ESH10  2009-12-22/2009-12-28        56          51        2524
87       ESH10  2009-12-29/2010-01-04        69          63        2535
88       ESH10  2010-01-05/2010-01-11        95         111        2585
89       ESH10  2010-01-12/2010-01-18       122         149        2590
90       ESH10  2010-01-19/2010-01-25       171         223        2594
91       ESH10  2010-01-26/2010-02-01       222         291        2515
92       ESH10  2010-02-02/2010-02-08       275         348        2524
93       ESH10  2010-02-09/2010-02-15       318         414        2496
94       ESH10  2010-02-16/2010-02-22       354         446        2578
95       ESH10  2010-02-23/2010-03-01       393         491        2598
96       ESH10  2010-03-02/2010-03-08       422         534        2665
97       ESH10  2010-03-09/2010-03-15       435         561        2687
98       ESH11  2010-12-07/2010-12-13        13          13        3424
99       ESH11  2010-12-14/2010-12-20        43          46        3441
100      ESH11  2010-12-21/2010-12-27        54          56        3470
101      ESH11  2010-12-28/2011-01-03        67         137        3534
102      ESH11  2011-01-04/2011-01-10       103         181        3554
103      ESH11  2011-01-11/2011-01-17       127         214        3611
104      ESH11  2011-01-18/2011-01-24       163         263        3623
105      ESH11  2011-01-25/2011-01-31       204         308        3654
106      ESH11  2011-02-01/2011-02-07       237         346        3724
107      ESH11  2011-02-08/2011-02-14       268         387        3769
108      ESH11  2011-02-15/2011-02-21       294         422        3811
109      ESH11  2011-02-22/2011-02-28       340         484        3789
110      ESH11  2011-03-01/2011-03-07       390         543        3815
111      ESH11  2011-03-08/2011-03-14       414         569        3797
112      ESH12  2011-12-06/2011-12-12        22          15        4137
113      ESH12  2011-12-13/2011-12-19        81          72        4106
114      ESH12  2011-12-20/2011-12-26       113         101        4181
115      ESH12  2011-12-27/2012-01-02       131         113        4192
116      ESH12  2012-01-03/2012-01-09       173         146        4265
117      ESH12  2012-01-10/2012-01-16       209         177        4318
118      ESH12  2012-01-17/2012-01-23       248         224        4404
119      ESH12  2012-01-24/2012-01-30       290         282        4449
120      ESH12  2012-01-31/2012-02-06       326         327        4512
121      ESH12  2012-02-07/2012-02-13       361         359        4554
122      ESH12  2012-02-14/2012-02-20       394         400        4621
123      ESH12  2012-02-21/2012-02-27       428         438        4645
124      ESH12  2012-02-28/2012-03-05       469         491        4665
125      ESH12  2012-03-06/2012-03-12       492         537        4658
126      ESH13  2012-12-11/2012-12-17        12          10        5383
127      ESH13  2012-12-18/2012-12-24        45          37        5429
128      ESH13  2012-12-25/2012-12-31        68          59        5360
129      ESH13  2013-01-01/2013-01-07        96          88        5516
130      ESH13  2013-01-08/2013-01-14       125         117        5553
131      ESH13  2013-01-15/2013-01-21       151         152        5609
132      ESH13  2013-01-22/2013-01-28       182         193        5687
133      ESH13  2013-01-29/2013-02-04       218         233        5738
134      ESH13  2013-02-05/2013-02-11       252         267        5773
135      ESH13  2013-02-12/2013-02-18       277         297        5801
136      ESH13  2013-02-19/2013-02-25       323         340        5838
137      ESH13  2013-02-26/2013-03-04       374         397        5852
138      ESH13  2013-03-05/2013-03-11       395         420        5931
139      ESH14  2013-12-10/2013-12-16        13          10        7467
140      ESH14  2013-12-17/2013-12-23        49          43        7640
141      ESH14  2013-12-24/2013-12-30        59          52        7709
142      ESH14  2013-12-31/2014-01-06        81          70        7736
143      ESH14  2014-01-07/2014-01-13       117         102        7729
144      ESH14  2014-01-14/2014-01-20       144         121        7751
145      ESH14  2014-01-21/2014-01-27       195         165        7754
146      ESH14  2014-01-28/2014-02-03       263         216        7580
147      ESH14  2014-02-04/2014-02-10       316         258        7612
148      ESH14  2014-02-11/2014-02-17       348         286        7794
149      ESH14  2014-02-18/2014-02-24       386         322        7880
150      ESH14  2014-02-25/2014-03-03       433         366        7930
151      ESH14  2014-03-04/2014-03-10       473         398        8032
152      ESH14  2014-03-11/2014-03-17       500         421        8014
153      ESH15  2014-12-09/2014-12-15        27          25        9202
154      ESH15  2014-12-16/2014-12-22        94          72        9468
155      ESH15  2014-12-23/2014-12-29       108          83        9528
156      ESH15  2014-12-30/2015-01-05       141         108        9499
157      ESH15  2015-01-06/2015-01-12       204         147        9421
158      ESH15  2015-01-13/2015-01-19       268         192        9381
159      ESH15  2015-01-20/2015-01-26       324         229        9458
160      ESH15  2015-01-27/2015-02-02       395         290        9426
161      ESH15  2015-02-03/2015-02-09       449         330        9529
162      ESH15  2015-02-10/2015-02-16       486         353        9667
163      ESH15  2015-02-17/2015-02-23       522         382        9742
164      ESH15  2015-02-24/2015-03-02       556         408        9790
165      ESH15  2015-03-03/2015-03-09       600         444        9775
166      ESH15  2015-03-10/2015-03-16       608         448        9578
167      ESM04  2004-03-09/2004-03-15         8          16         133
168      ESM04  2004-03-16/2004-03-22        21          33         137
169      ESM04  2004-03-23/2004-03-29        33          48         141
170      ESM04  2004-03-30/2004-04-05        44          62         148
171      ESM04  2004-04-06/2004-04-12        51          73         150
172      ESM04  2004-04-13/2004-04-19        63          94         153
173      ESM04  2004-04-20/2004-04-26        74         119         159
174      ESM04  2004-04-27/2004-05-03        87         134         160
175      ESM04  2004-05-04/2004-05-10       100         155         162
176      ESM04  2004-05-11/2004-05-17       115         181         167
177      ESM04  2004-05-18/2004-05-24       126         193         170
178      ESM04  2004-05-25/2004-05-31       134         211         178
179      ESM04  2004-06-01/2004-06-07       144         228         185
180      ESM04  2004-06-08/2004-06-14       147         239         186
181      ESM05  2005-03-08/2005-03-14         6           6         354
182      ESM05  2005-03-15/2005-03-21        16          24         354
183      ESM05  2005-03-22/2005-03-28        25          45         354
184      ESM05  2005-03-29/2005-04-04        37          67         360
185      ESM05  2005-04-05/2005-04-11        47          81         365
186      ESM05  2005-04-12/2005-04-18        62         111         366
187      ESM05  2005-04-19/2005-04-25        76         149         373
188      ESM05  2005-04-26/2005-05-02        88         165         376
189      ESM05  2005-05-03/2005-05-09       101         186         386
190      ESM05  2005-05-10/2005-05-16       115         202         387
191      ESM05  2005-05-17/2005-05-23       125         222         401
192      ESM05  2005-05-24/2005-05-30       131         236         405
193      ESM05  2005-05-31/2005-06-06       141         252         410
194      ESM05  2005-06-07/2005-06-13       145         258         413
195      ESM06  2006-03-07/2006-03-13         4          10         635
196      ESM06  2006-03-14/2006-03-20         8          20         649
197      ESM06  2006-03-21/2006-03-27        14          46         653
198      ESM06  2006-03-28/2006-04-03        19          55         657
199      ESM06  2006-04-04/2006-04-10        25          67         662
200      ESM06  2006-04-11/2006-04-17        30          77         654
201      ESM06  2006-04-18/2006-04-24        36         147         680
202      ESM06  2006-04-25/2006-05-01        42         195         696
203      ESM06  2006-05-02/2006-05-08        47         207         705
204      ESM06  2006-05-09/2006-05-15        53         250         706
205      ESM06  2006-05-16/2006-05-22        62         299         700
206      ESM06  2006-05-23/2006-05-29        69         355         716
207      ESM06  2006-05-30/2006-06-05        77         400         732
208      ESM06  2006-06-06/2006-06-12        81         422         725
209      ESM07  2007-03-06/2007-03-12         4          33        1149
210      ESM07  2007-03-13/2007-03-19        15          69        1154
211      ESM07  2007-03-20/2007-03-26        22          99        1191
212      ESM07  2007-03-27/2007-04-02        30         147        1195
213      ESM07  2007-04-03/2007-04-09        33         176        1221
214      ESM07  2007-04-10/2007-04-16        39         194        1242
215      ESM07  2007-04-17/2007-04-23        46         213        1261
216      ESM07  2007-04-24/2007-04-30        52         235        1277
217      ESM07  2007-05-01/2007-05-07        58         260        1295
218      ESM07  2007-05-08/2007-05-14        65         282        1299
219      ESM07  2007-05-15/2007-05-21        73         302        1321
220      ESM07  2007-05-22/2007-05-28        79         317        1325
221      ESM07  2007-05-29/2007-06-04        86         367        1350
222      ESM07  2007-06-05/2007-06-11        89         385        1349
223      ESM08  2008-03-11/2008-03-17        20          28        1704
224      ESM08  2008-03-18/2008-03-24        39         103        1762
225      ESM08  2008-03-25/2008-03-31        56         136        1762
226      ESM08  2008-04-01/2008-04-07        73         183        1819
227      ESM08  2008-04-08/2008-04-14        90         257        1804
228      ESM08  2008-04-15/2008-04-21       104         324        1872
229      ESM08  2008-04-22/2008-04-28       120         386        1898
230      ESM08  2008-04-29/2008-05-05       134         435        1935
231      ESM08  2008-05-06/2008-05-12       148         499        1939
232      ESM08  2008-05-13/2008-05-19       161         545        1990
233      ESM08  2008-05-20/2008-05-26       173         586        1971
234      ESM08  2008-05-27/2008-06-02       186         617        1962
235      ESM08  2008-06-03/2008-06-09       205         682        1979
236      ESM08  2008-06-10/2008-06-16       213         697        1928
237      ESM09  2009-03-10/2009-03-16        15          38        1447
238      ESM09  2009-03-17/2009-03-23        46         112        1552
239      ESM09  2009-03-24/2009-03-30        76         157        1575
240      ESM09  2009-03-31/2009-04-06       105         204        1613
241      ESM09  2009-04-07/2009-04-13       124         234        1649
242      ESM09  2009-04-14/2009-04-20       149         270        1676
243      ESM09  2009-04-21/2009-04-27       179         341        1681
244      ESM09  2009-04-28/2009-05-04       203         380        1761
245      ESM09  2009-05-05/2009-05-11       230         433        1813
246      ESM09  2009-05-12/2009-05-18       254         473        1787
247      ESM09  2009-05-19/2009-05-25       273         521        1818
248      ESM09  2009-05-26/2009-06-01       297         576        1880
249      ESM09  2009-06-02/2009-06-08       319         606        1904
250      ESM09  2009-06-09/2009-06-15       327         621        1899
251      ESM10  2010-03-09/2010-03-15        14          12        2698
252      ESM10  2010-03-16/2010-03-22        45          74        2745
253      ESM10  2010-03-23/2010-03-29        81         159        2785
254      ESM10  2010-03-30/2010-04-05       105         189        2818
255      ESM10  2010-04-06/2010-04-12       135         243        2864
256      ESM10  2010-04-13/2010-04-19       173         290        2901
257      ESM10  2010-04-20/2010-04-26       210         333        2931
258      ESM10  2010-04-27/2010-05-03       260         385        2918
259      ESM10  2010-05-04/2010-05-10       355         488        2902
260      ESM10  2010-05-11/2010-05-17       419         571        2874
261      ESM10  2010-05-18/2010-05-24       509         658        2817
262      ESM10  2010-05-25/2010-05-31       570         735        2751
263      ESM10  2010-06-01/2010-06-07       640         788        2762
264      ESM10  2010-06-08/2010-06-14       673         813        2700
265      ESM11  2011-03-08/2011-03-14        18          16        3739
266      ESM11  2011-03-15/2011-03-21        80          81        3737
267      ESM11  2011-03-22/2011-03-28       114         110        3800
268      ESM11  2011-03-29/2011-04-04       144         156        3865
269      ESM11  2011-04-05/2011-04-11       178         194        3879
270      ESM11  2011-04-12/2011-04-18       218         227        3841
271      ESM11  2011-04-19/2011-04-25       239         244        3898
272      ESM11  2011-04-26/2011-05-02       266         275        4011
273      ESM11  2011-05-03/2011-05-09       310         313        3969
274      ESM11  2011-05-10/2011-05-16       349         357        3981
275      ESM11  2011-05-17/2011-05-23       390         411        3959

### D. Compute the serial correlation of price-returns for the three bar types
- Definition: relationship between a given variable and a chosen lagged version of itself, A variable that is serially correlated indicates that it may not be random (ie future observations are affected by past values), TA validate the profitable patterns of a security or group of securities and determine the risk associated with investment opportunities
- Using the Durbin-Watson (DW) test, it can be positive (positive pattern) or negative (negative influence on itself over time).

In [17]:
# Calculate price returns for each bar type
df['TickReturns'] = df.groupby(['Instrument', 'TickBarNumber'])['Price'].pct_change()
df['VolumeReturns'] = df.groupby(['Instrument', 'VolumeBarNumber'])['Price'].pct_change()
df['DollarReturns'] = df.groupby(['Instrument', 'DollarBarNumber'])['Price'].pct_change()

# Compute serial correlation for each bar type
tick_corr = df['TickReturns'].corr(df['TickReturns'].shift(1))
volume_corr = df['VolumeReturns'].corr(df['VolumeReturns'].shift(1))
dollar_corr = df['DollarReturns'].corr(df['DollarReturns'].shift(1))

print(f"Serial correlation for Tick bars: {tick_corr}")
print(f"Serial correlation for Volume bars: {volume_corr}")
print(f"Serial correlation for Dollar bars: {dollar_corr}")

Serial correlation for Tick bars: -0.014922704214979526
Serial correlation for Volume bars: -0.0004453579193719647
Serial correlation for Dollar bars: 0.3963988619185025

### E. Partition the bar series into monthly subsets. Compute the variance of returns for every subset of every bar type. Compute the variance of those variances. What method exhibits the smallest variance of variances?

- The method with the smallest variance of variances is considered more stable.
- Variance as a measure of dispersion.

In [18]:
# Create monthly subsets
monthly_subsets = df.groupby([df['Time'].dt.to_period("M"), 'Instrument'])

# Compute the variance of returns for every subset of every bar type
tick_variances = monthly_subsets['TickReturns'].var()
volume_variances = monthly_subsets['VolumeReturns'].var()
dollar_variances = monthly_subsets['DollarReturns'].var()

# Compute the variance of those variances
tick_var_variance = tick_variances.var()
volume_var_variance = volume_variances.var()
dollar_var_variance = dollar_variances.var()

print(f"Variance for Tick bars: {tick_variances}")
print(f"Variance for Volume bars: {volume_variances}")
print(f"Variance for Dollar bars: {dollar_variances}")

print(f"Variance of variances for Tick bars: {tick_var_variance}")
print(f"Variance of variances for Volume bars: {volume_var_variance}")
print(f"Variance of variances for Dollar bars: {dollar_var_variance}")

Variance for Tick bars: Time     Instrument
2003-06  ESU03         NaN
2003-07  ESU03        0.00
2003-08  ESU03        0.00
2003-09  ESU03        0.00
         ESZ03        0.00
2003-10  ESZ03        0.00
2003-11  ESZ03        0.00
2003-12  ESH04        0.00
         ESZ03        0.00
2004-01  ESH04        0.00
2004-02  ESH04        0.00
2004-03  ESH04        0.00
         ESM04        0.00
2004-04  ESM04        0.00
2004-05  ESM04        0.00
2004-06  ESM04        0.00
         ESU04        0.00
2004-07  ESU04        0.00
2004-08  ESU04        0.00
2004-09  ESU04        0.00
         ESZ04        0.00
2004-10  ESZ04        0.00
2004-11  ESZ04        0.00
2004-12  ESH05        0.00
         ESZ04        0.00
2005-01  ESH05        0.00
2005-02  ESH05        0.00
2005-03  ESH05        0.00
         ESM05        0.00
2005-04  ESM05        0.00
2005-05  ESM05        0.00
2005-06  ESM05        0.00
         ESU05        0.00
2005-07  ESU05        0.00
2005-08  ESU05        0.00
2005-09  ESU05        0.00
         ESZ05        0.00
2005-10  ESZ05        0.00
2005-11  ESZ05        0.00
2005-12  ESH06        0.00
         ESZ05        0.00
2006-01  ESH06        0.00
2006-02  ESH06        0.00
2006-03  ESH06        0.00
         ESM06        0.00
2006-04  ESM06        0.00
2006-05  ESM06        0.00
2006-06  ESM06        0.00
         ESU06        0.00
2006-07  ESU06        0.00
2006-08  ESU06        0.00
2006-09  ESU06        0.00
         ESZ06        0.00
2006-10  ESZ06        0.00
2006-11  ESZ06        0.00
2006-12  ESH07        0.00
         ESZ06        0.00
2007-01  ESH07        0.00
2007-02  ESH07        0.00
2007-03  ESH07        0.00
         ESM07        0.00
2007-04  ESM07        0.00
2007-05  ESM07        0.00
2007-06  ESM07        0.00
         ESU07        0.00
2007-07  ESU07        0.00
2007-08  ESU07        0.00
2007-09  ESU07        0.00
         ESZ07        0.00
2007-10  ESZ07        0.00
2007-11  ESZ07        0.00
2007-12  ESH08        0.00
         ESZ07        0.00
2008-01  ESH08        0.00
2008-02  ESH08        0.00
2008-03  ESH08        0.00
         ESM08        0.00
2008-04  ESM08        0.00
2008-05  ESM08        0.00
2008-06  ESM08        0.00
         ESU08        0.00
2008-07  ESU08        0.00
2008-08  ESU08        0.00
2008-09  ESU08        0.00
         ESZ08        0.00
2008-10  ESZ08        0.00
2008-11  ESZ08        0.00
2008-12  ESH09        0.00
         ESZ08        0.00
2009-01  ESH09        0.00
2009-02  ESH09        0.00
2009-03  ESH09        0.00
         ESM09        0.00
2009-04  ESM09        0.00
2009-05  ESM09        0.00
2009-06  ESM09        0.00
         ESU09        0.00
2009-07  ESU09        0.00
2009-08  ESU09        0.00
2009-09  ESU09        0.00
         ESZ09        0.00
2009-10  ESZ09        0.00
2009-11  ESZ09        0.00
2009-12  ESH10        0.00
         ESZ09        0.00
2010-01  ESH10        0.00
2010-02  ESH10        0.00
2010-03  ESH10        0.00
         ESM10        0.00
2010-04  ESM10        0.00
2010-05  ESM10        0.00
2010-06  ESM10        0.00
         ESU10        0.00
2010-07  ESU10        0.00
2010-08  ESU10        0.00
2010-09  ESU10        0.00
         ESZ10        0.00
2010-10  ESZ10        0.00
2010-11  ESZ10        0.00
2010-12  ESH11        0.00
         ESZ10        0.00
2011-01  ESH11        0.00
2011-02  ESH11        0.00
2011-03  ESH11        0.00
         ESM11        0.00
2011-04  ESM11        0.00
2011-05  ESM11        0.00
2011-06  ESM11        0.00
         ESU11        0.00
2011-07  ESU11        0.00
2011-08  ESU11        0.00
2011-09  ESU11        0.00
         ESZ11        0.00
2011-10  ESZ11        0.00
2011-11  ESZ11        0.00
2011-12  ESH12        0.00
         ESZ11        0.00
2012-01  ESH12        0.00
2012-02  ESH12        0.00
2012-03  ESH12        0.00
         ESM12        0.00
2012-04  ESM12        0.00
2012-05  ESM12        0.00
2012-06  ESM12        0.00
         ESU12        0.00
2012-07  ESU12        0.00
2012-08  ESU12        0.00
2012-09  ESU12        0.00
         ESZ12        0.00
2012-10  ESZ12        0.00
2012-11  ESZ12        0.00
2012-12  ESH13        0.00
         ESZ12        0.00
2013-01  ESH13        0.00
2013-02  ESH13        0.00
2013-03  ESH13        0.00
         ESM13        0.00
2013-04  ESM13        0.00
2013-05  ESM13        0.00
2013-06  ESM13        0.00
         ESU13        0.00
2013-07  ESU13        0.00
2013-08  ESU13        0.00
2013-09  ESU13        0.00
         ESZ13        0.00
2013-10  ESZ13        0.00
2013-11  ESZ13        0.00
2013-12  ESH14        0.00
         ESZ13        0.00
2014-01  ESH14        0.00
2014-02  ESH14        0.00
2014-03  ESH14        0.00
         ESM14        0.00
2014-04  ESM14        0.00
2014-05  ESM14        0.00
2014-06  ESM14        0.00
         ESU14        0.00
2014-07  ESU14        0.00
2014-08  ESU14        0.00
2014-09  ESU14        0.00
         ESZ14        0.00
2014-10  ESZ14        0.00
2014-11  ESZ14        0.00
2014-12  ESH15        0.00
         ESZ14        0.00
2015-01  ESH15        0.00
2015-02  ESH15        0.00
2015-03  ESH15        0.00
         ESM15        0.00
2015-04  ESM15        0.00
2015-05  ESM15        0.00
2015-06  ESM15        0.00
         ESU15        0.00
2015-07  ESU15        0.00
2015-08  ESU15        0.00
2015-09  ESU15        0.00
         ESZ15        0.00
2015-10  ESZ15        0.00
Name: TickReturns, dtype: float32
Variance for Volume bars: Time     Instrument
2003-06  ESU03         NaN
2003-07  ESU03        0.00
2003-08  ESU03        0.00
2003-09  ESU03        0.00
         ESZ03        0.00
2003-10  ESZ03        0.00
2003-11  ESZ03        0.00
2003-12  ESH04        0.00
         ESZ03        0.00
2004-01  ESH04        0.00
2004-02  ESH04        0.00
2004-03  ESH04        0.00
         ESM04        0.00
2004-04  ESM04        0.00
2004-05  ESM04        0.00
2004-06  ESM04        0.00
         ESU04        0.00
2004-07  ESU04        0.00
2004-08  ESU04        0.00
2004-09  ESU04        0.00
         ESZ04        0.00
2004-10  ESZ04        0.00
2004-11  ESZ04        0.00
2004-12  ESH05        0.00
         ESZ04        0.00
2005-01  ESH05        0.00
2005-02  ESH05        0.00
2005-03  ESH05        0.00
         ESM05        0.00
2005-04  ESM05        0.00
2005-05  ESM05        0.00
2005-06  ESM05        0.00
         ESU05        0.00
2005-07  ESU05        0.00
2005-08  ESU05        0.00
2005-09  ESU05        0.00
         ESZ05        0.00
2005-10  ESZ05        0.00
2005-11  ESZ05        0.00
2005-12  ESH06        0.00
         ESZ05        0.00
2006-01  ESH06        0.00
2006-02  ESH06        0.00
2006-03  ESH06        0.00
         ESM06        0.00
2006-04  ESM06        0.00
2006-05  ESM06        0.00
2006-06  ESM06        0.00
         ESU06        0.00
2006-07  ESU06        0.00
2006-08  ESU06        0.00
2006-09  ESU06        0.00
         ESZ06        0.00
2006-10  ESZ06        0.00
2006-11  ESZ06        0.00
2006-12  ESH07        0.00
         ESZ06        0.00
2007-01  ESH07        0.00
2007-02  ESH07        0.00
2007-03  ESH07        0.00
         ESM07        0.00
2007-04  ESM07        0.00
2007-05  ESM07        0.00
2007-06  ESM07        0.00
         ESU07        0.00
2007-07  ESU07        0.00
2007-08  ESU07        0.00
2007-09  ESU07        0.00
         ESZ07        0.00
2007-10  ESZ07        0.00
2007-11  ESZ07        0.00
2007-12  ESH08        0.00
         ESZ07        0.00
2008-01  ESH08        0.00
2008-02  ESH08        0.00
2008-03  ESH08        0.00
         ESM08        0.00
2008-04  ESM08        0.00
2008-05  ESM08        0.00
2008-06  ESM08        0.00
         ESU08        0.00
2008-07  ESU08        0.00
2008-08  ESU08        0.00
2008-09  ESU08        0.00
         ESZ08        0.00
2008-10  ESZ08        0.00
2008-11  ESZ08        0.00
2008-12  ESH09        0.00
         ESZ08        0.00
2009-01  ESH09        0.00
2009-02  ESH09        0.00
2009-03  ESH09        0.00
         ESM09        0.00
2009-04  ESM09        0.00
2009-05  ESM09        0.00
2009-06  ESM09        0.00
         ESU09        0.00
2009-07  ESU09        0.00
2009-08  ESU09        0.00
2009-09  ESU09        0.00
         ESZ09        0.00
2009-10  ESZ09        0.00
2009-11  ESZ09        0.00
2009-12  ESH10        0.00
         ESZ09        0.00
2010-01  ESH10        0.00
2010-02  ESH10        0.00
2010-03  ESH10        0.00
         ESM10        0.00
2010-04  ESM10        0.00
2010-05  ESM10        0.00
2010-06  ESM10        0.00
         ESU10        0.00
2010-07  ESU10        0.00
2010-08  ESU10        0.00
2010-09  ESU10        0.00
         ESZ10        0.00
2010-10  ESZ10        0.00
2010-11  ESZ10        0.00
2010-12  ESH11        0.00
         ESZ10        0.00
2011-01  ESH11        0.00
2011-02  ESH11        0.00
2011-03  ESH11        0.00
         ESM11        0.00
2011-04  ESM11        0.00
2011-05  ESM11        0.00
2011-06  ESM11        0.00
         ESU11        0.00
2011-07  ESU11        0.00
2011-08  ESU11        0.00
2011-09  ESU11        0.00
         ESZ11        0.00
2011-10  ESZ11        0.00
2011-11  ESZ11        0.00
2011-12  ESH12        0.00
         ESZ11        0.00
2012-01  ESH12        0.00
2012-02  ESH12        0.00
2012-03  ESH12        0.00
         ESM12        0.00
2012-04  ESM12        0.00
2012-05  ESM12        0.00
2012-06  ESM12        0.00
         ESU12        0.00
2012-07  ESU12        0.00
2012-08  ESU12        0.00
2012-09  ESU12        0.00
         ESZ12        0.00
2012-10  ESZ12        0.00
2012-11  ESZ12        0.00
2012-12  ESH13        0.00
         ESZ12        0.00
2013-01  ESH13        0.00
2013-02  ESH13        0.00
2013-03  ESH13        0.00
         ESM13        0.00
2013-04  ESM13        0.00
2013-05  ESM13        0.00
2013-06  ESM13        0.00
         ESU13        0.00
2013-07  ESU13        0.00
2013-08  ESU13        0.00
2013-09  ESU13        0.00
         ESZ13        0.00
2013-10  ESZ13        0.00
2013-11  ESZ13        0.00
2013-12  ESH14        0.00
         ESZ13        0.00
2014-01  ESH14        0.00
2014-02  ESH14        0.00
2014-03  ESH14        0.00
         ESM14        0.00
2014-04  ESM14        0.00
2014-05  ESM14        0.00
2014-06  ESM14        0.00
         ESU14        0.00
2014-07  ESU14        0.00
2014-08  ESU14        0.00
2014-09  ESU14        0.00
         ESZ14        0.00
2014-10  ESZ14        0.00
2014-11  ESZ14        0.00
2014-12  ESH15        0.00
         ESZ14        0.00
2015-01  ESH15        0.00
2015-02  ESH15        0.00
2015-03  ESH15        0.00
         ESM15        0.00
2015-04  ESM15        0.00
2015-05  ESM15        0.00
2015-06  ESM15        0.00
         ESU15        0.00
2015-07  ESU15        0.00
2015-08  ESU15        0.00
2015-09  ESU15        0.00
         ESZ15        0.00
2015-10  ESZ15        0.00
Name: VolumeReturns, dtype: float32
Variance for Dollar bars: Time     Instrument
2003-06  ESU03         NaN
2003-07  ESU03        0.00
2003-08  ESU03        0.00
2003-09  ESU03        0.00
         ESZ03        0.00
2003-10  ESZ03        0.00
2003-11  ESZ03        0.00
2003-12  ESH04        0.00
         ESZ03        0.00
2004-01  ESH04        0.00
2004-02  ESH04        0.00
2004-03  ESH04        0.00
         ESM04        0.00
2004-04  ESM04        0.00
2004-05  ESM04        0.00
2004-06  ESM04        0.00
         ESU04        0.00
2004-07  ESU04        0.00
2004-08  ESU04        0.00
2004-09  ESU04        0.00
         ESZ04        0.00
2004-10  ESZ04        0.00
2004-11  ESZ04        0.00
2004-12  ESH05        0.00
         ESZ04        0.00
2005-01  ESH05        0.00
2005-02  ESH05        0.00
2005-03  ESH05        0.00
         ESM05        0.00
2005-04  ESM05        0.00
2005-05  ESM05        0.00
2005-06  ESM05        0.00
         ESU05        0.00
2005-07  ESU05        0.00
2005-08  ESU05        0.00
2005-09  ESU05        0.00
         ESZ05        0.00
2005-10  ESZ05        0.00
2005-11  ESZ05        0.00
2005-12  ESH06        0.00
         ESZ05        0.00
2006-01  ESH06        0.00
2006-02  ESH06        0.00
2006-03  ESH06        0.00
         ESM06        0.00
2006-04  ESM06        0.00
2006-05  ESM06        0.00
2006-06  ESM06        0.00
         ESU06        0.00
2006-07  ESU06        0.00
2006-08  ESU06        0.00
2006-09  ESU06        0.00
         ESZ06        0.00
2006-10  ESZ06        0.00
2006-11  ESZ06        0.00
2006-12  ESH07        0.00
         ESZ06        0.00
2007-01  ESH07        0.00
2007-02  ESH07        0.00
2007-03  ESH07        0.00
         ESM07        0.00
2007-04  ESM07        0.00
2007-05  ESM07        0.00
2007-06  ESM07        0.00
         ESU07        0.00
2007-07  ESU07        0.00
2007-08  ESU07        0.00
2007-09  ESU07        0.00
         ESZ07        0.00
2007-10  ESZ07        0.00
2007-11  ESZ07        0.00
2007-12  ESH08        0.00
         ESZ07        0.00
2008-01  ESH08        0.00
2008-02  ESH08        0.00
2008-03  ESH08        0.00
         ESM08        0.00
2008-04  ESM08        0.00
2008-05  ESM08        0.00
2008-06  ESM08        0.00
         ESU08        0.00
2008-07  ESU08        0.00
2008-08  ESU08        0.00
2008-09  ESU08        0.00
         ESZ08        0.00
2008-10  ESZ08        0.00
2008-11  ESZ08        0.00
2008-12  ESH09        0.00
         ESZ08        0.00
2009-01  ESH09        0.00
2009-02  ESH09        0.00
2009-03  ESH09        0.00
         ESM09        0.00
2009-04  ESM09        0.00
2009-05  ESM09        0.00
2009-06  ESM09        0.00
         ESU09        0.00
2009-07  ESU09        0.00
2009-08  ESU09        0.00
2009-09  ESU09        0.00
         ESZ09        0.00
2009-10  ESZ09        0.00
2009-11  ESZ09        0.00
2009-12  ESH10        0.00
         ESZ09        0.00
2010-01  ESH10        0.00
2010-02  ESH10        0.00
2010-03  ESH10        0.00
         ESM10        0.00
2010-04  ESM10        0.00
2010-05  ESM10        0.00
2010-06  ESM10        0.00
         ESU10        0.00
2010-07  ESU10        0.00
2010-08  ESU10        0.00
2010-09  ESU10        0.00
         ESZ10        0.00
2010-10  ESZ10        0.00
2010-11  ESZ10        0.00
2010-12  ESH11        0.00
         ESZ10        0.00
2011-01  ESH11        0.00
2011-02  ESH11        0.00
2011-03  ESH11        0.00
         ESM11        0.00
2011-04  ESM11        0.00
2011-05  ESM11        0.00
2011-06  ESM11        0.00
         ESU11        0.00
2011-07  ESU11        0.00
2011-08  ESU11        0.00
2011-09  ESU11        0.00
         ESZ11        0.00
2011-10  ESZ11        0.00
2011-11  ESZ11        0.00
2011-12  ESH12        0.00
         ESZ11        0.00
2012-01  ESH12        0.00
2012-02  ESH12        0.00
2012-03  ESH12        0.00
         ESM12        0.00
2012-04  ESM12        0.00
2012-05  ESM12        0.00
2012-06  ESM12        0.00
         ESU12        0.00
2012-07  ESU12        0.00
2012-08  ESU12        0.00
2012-09  ESU12        0.00
         ESZ12        0.00
2012-10  ESZ12        0.00
2012-11  ESZ12        0.00
2012-12  ESH13        0.00
         ESZ12        0.00
2013-01  ESH13        0.00
2013-02  ESH13        0.00
2013-03  ESH13        0.00
         ESM13        0.00
2013-04  ESM13        0.00
2013-05  ESM13        0.00
2013-06  ESM13        0.00
         ESU13        0.00
2013-07  ESU13        0.00
2013-08  ESU13        0.00
2013-09  ESU13        0.00
         ESZ13        0.00
2013-10  ESZ13        0.00
2013-11  ESZ13        0.00
2013-12  ESH14        0.00
         ESZ13        0.00
2014-01  ESH14        0.00
2014-02  ESH14        0.00
2014-03  ESH14        0.00
         ESM14        0.00
2014-04  ESM14        0.00
2014-05  ESM14        0.00
2014-06  ESM14        0.00
         ESU14        0.00
2014-07  ESU14        0.00
2014-08  ESU14        0.00
2014-09  ESU14        0.00
         ESZ14        0.00
2014-10  ESZ14        0.00
2014-11  ESZ14        0.00
2014-12  ESH15        0.00
         ESZ14        0.00
2015-01  ESH15        0.00
2015-02  ESH15        0.00
2015-03  ESH15        0.00
         ESM15        0.00
2015-04  ESM15        0.00
2015-05  ESM15        0.00
2015-06  ESM15        0.00
         ESU15        0.00
2015-07  ESU15        0.00
2015-08  ESU15        0.00
2015-09  ESU15        0.00
         ESZ15        0.00
2015-10  ESZ15        0.00
Name: DollarReturns, dtype: float32
Variance of variances for Tick bars: 3.5907513074029396e-11
Variance of variances for Volume bars: 3.7533892660590595e-11
Variance of variances for Dollar bars: 3.04111980042876e-09

In [20]:
monthly_subsets.head()

,Instrument,Price,Time,Volume,BarNumber,DollarAmount,CumDollar,CumVolume,TickBarNumber,VolumeBarNumber,DollarBarNumber,TickReturns,VolumeReturns,DollarReturns
0,ESU03,971.75,2003-06-30 23:00:01.000,1,1,971.75,971.75,1,1,1,1,NaN,NaN,NaN
1,ESU03,968.00,2003-07-01 08:59:52.000,1,1,968.00,"1,936.00",2,1,1,1,-0.00,-0.00,-0.00
2,ESU03,963.25,2003-07-01 09:22:31.000,1,1,963.25,"2,889.75",3,1,1,1,-0.00,-0.00,-0.00
3,ESU03,965.00,2003-07-01 10:17:55.000,1,1,965.00,"3,860.00",4,1,1,1,0.00,0.00,0.00
4,ESU03,967.75,2003-07-01 12:03:37.000,2,1,"1,935.50","5,806.50",6,1,1,1,0.00,0.00,0.00
5,ESU03,969.75,2003-07-01 13:04:56.000,5,1,"4,848.75","10,667.25",11,2,1,1,NaN,0.00,0.00
147,ESU03,985.25,2003-08-01 08:42:50.000,10,16,"9,852.50","1,515,314.50",1538,30,77,16,-0.00,-0.00,-0.00
148,ESU03,982.75,2003-08-01 09:07:18.000,2,16,"1,965.50","1,513,435.00",1540,30,78,16,-0.00,NaN,-0.00
149,ESU03,978.75,2003-08-01 09:41:33.000,10,16,"9,787.50","1,517,062.50",1550,30,78,16,-0.00,-0.00,-0.00
150,ESU03,980.25,2003-08-01 10:45:59.000,10,16,"9,802.50","1,529,190.00",1560,31,79,16,NaN,NaN,0.00
151,ESU03,981.50,2003-08-01 12:37:25.000,1,16,981.50,"1,532,121.50",1561,31,79,16,0.00,0.00,0.00
258,ESU03,"1,011.75",2003-09-02 07:11:12.000,1,32,"1,011.75","3,211,294.50",3174,52,159,33,0.01,0.01,NaN
259,ESU03,"1,010.25",2003-09-02 09:07:03.000,1,32,"1,010.25","3,207,543.75",3175,52,159,33,-0.00,-0.00,-0.00
260,ESU03,"1,008.25",2003-09-02 09:59:04.000,1,32,"1,008.25","3,202,202.00",3176,53,159,33,NaN,-0.00,-0.00
261,ESU03,"1,016.00",2003-09-02 11:19:12.000,1,32,"1,016.00","3,227,832.00",3177,53,159,33,0.01,0.01,0.01
262,ESU03,"1,010.75",2003-09-02 12:55:51.000,1,32,"1,010.75","3,212,163.50",3178,53,159,33,-0.01,-0.01,-0.01
299,ESZ03,"1,014.50",2003-09-11 08:56:32.000,40,1,"40,580.00","3,850,027.50",40,1,3,39,NaN,NaN,NaN
300,ESZ03,"1,011.75",2003-09-11 10:10:49.000,1,1,"1,011.75","3,840,603.00",41,1,3,39,-0.00,-0.00,-0.00
301,ESZ03,"1,016.75",2003-09-11 12:00:27.000,20,1,"20,335.00","3,879,918.00",61,1,4,39,0.00,NaN,0.00
302,ESZ03,"1,016.75",2003-09-11 14:23:23.000,6,1,"6,100.50","3,886,018.50",67,1,4,39,0.00,0.00,0.00
303,ESZ03,"1,011.75",2003-09-12 08:33:29.000,2,1,"2,023.50","3,868,932.00",69,1,4,39,-0.00,-0.00,-0.00
379,ESZ03,999.50,2003-10-01 08:42:12.000,5,12,"4,997.50","4,902,547.50",1150,17,58,50,NaN,0.01,NaN
380,ESZ03,"1,002.75",2003-10-01 09:13:52.000,50,13,"50,137.50","4,968,626.25",1200,17,61,50,0.00,NaN,0.00
381,ESZ03,"1,001.00",2003-10-01 09:57:57.000,1,13,"1,001.00","4,960,956.00",1201,17,61,50,-0.00,-0.00,-0.00
382,ESZ03,"1,004.75",2003-10-01 10:57:44.000,1,13,"1,004.75","4,980,545.75",1202,17,61,50,0.00,0.00,0.00
383,ESZ03,"1,008.00",2003-10-01 12:38:52.000,2,13,"2,016.00","4,998,672.00",1204,17,61,50,0.00,0.00,0.00
556,ESZ03,"1,054.25",2003-11-03 08:34:38.000,1,22,"1,054.25","6,136,789.25",2066,52,104,62,0.01,0.01,0.01
557,ESZ03,"1,056.25",2003-11-03 08:57:36.000,30,22,"31,687.50","6,180,118.75",2096,52,105,62,0.00,NaN,0.00
558,ESZ03,"1,058.50",2003-11-03 09:16:54.000,1,22,"1,058.50","6,194,342.00",2097,52,105,62,0.00,0.00,0.00
559,ESZ03,"1,057.75",2003-11-03 09:53:33.000,5,22,"5,288.75","6,195,241.75",2102,53,106,62,NaN,NaN,-0.00
560,ESZ03,"1,057.00",2003-11-03 11:05:35.000,1,22,"1,057.00","6,191,906.00",2103,53,106,62,-0.00,-0.00,-0.00
752,ESZ03,"1,062.50",2003-12-01 08:30:23.000,5,37,"5,312.50","7,748,812.50",3538,91,177,78,0.00,0.00,0.00
753,ESZ03,"1,063.50",2003-12-01 08:59:45.000,1,37,"1,063.50","7,757,169.00",3539,91,177,78,0.00,0.00,0.00
754,ESZ03,"1,067.00",2003-12-01 09:17:55.000,2,37,"2,134.00","7,784,832.00",3541,92,178,78,NaN,NaN,0.00
755,ESZ03,"1,064.00",2003-12-01 09:51:07.000,2,37,"2,128.00","7,765,072.00",3543,92,178,78,-0.00,-0.00,-0.00
756,ESZ03,"1,066.50",2003-12-01 10:32:12.000,1,37,"1,066.50","7,784,383.50",3544,92,178,78,0.00,0.00,0.00
836,ESH04,"1,062.75",2003-12-11 08:50:46.000,3,1,"3,188.25","8,510,502.00",3,1,1,86,NaN,NaN,NaN
837,ESH04,"1,064.00",2003-12-11 09:21:45.000,5,1,"5,320.00","8,525,832.00",8,1,1,86,0.00,0.00,0.00
838,ESH04,"1,066.50",2003-12-11 09:51:40.000,10,1,"10,665.00","8,556,529.50",18,1,1,86,0.00,0.00,0.00
839,ESH04,"1,066.00",2003-12-11 10:54:14.000,20,1,"21,320.00","8,573,838.00",38,1,2,86,-0.00,NaN,-0.00
840,ESH04,"1,065.50",2003-12-11 12:17:37.000,10,1,"10,655.00","8,580,471.50",48,1,3,86,-0.00,NaN,-0.00
936,ESH04,"1,115.00",2004-01-02 08:35:44.000,1,7,"1,115.00","9,576,735.00",584,21,30,96,NaN,0.00,0.00
937,ESH04,"1,116.00",2004-01-02 09:06:12.000,1,7,"1,116.00","9,586,440.00",585,21,30,96,0.00,0.00,0.00
938,ESH04,"1,116.75",2004-01-02 09:47:20.000,1,7,"1,116.75","9,593,999.25",586,21,30,96,0.00,0.00,0.00
939,ESH04,"1,116.75",2004-01-02 10:40:42.000,3,7,"3,350.25","9,597,349.50",589,21,30,96,0.00,0.00,0.00
940,ESH04,"1,113.50",2004-01-02 11:34:29.000,1,7,"1,113.50","9,570,532.50",590,21,30,96,-0.00,-0.00,-0.00
1146,ESH04,"1,132.50",2004-02-02 06:55:11.000,1,22,"1,132.50","11,198,160.00",1883,63,95,112,NaN,0.00,0.00
1147,ESH04,"1,132.50",2004-02-02 09:01:25.000,2,22,"2,265.00","11,200,425.00",1885,63,95,113,0.00,0.00,NaN
1148,ESH04,"1,129.50",2004-02-02 09:26:47.000,1,22,"1,129.50","11,171,884.50",1886,63,95,112,-0.00,-0.00,-0.00
1149,ESH04,"1,126.50",2004-02-02 09:58:04.000,1,22,"1,126.50","11,143,338.00",1887,63,95,112,-0.00,-0.00,-0.00
1150,ESH04,"1,131.50",2004-02-02 10:44:21.000,1,22,"1,131.50","11,193,929.50",1888,63,95,112,0.00,0.00,0.00
1337,ESH04,"1,148.25",2004-03-01 08:33:49.000,50,36,"57,412.50","12,811,025.25",3152,101,158,129,0.00,NaN,NaN
1338,ESH04,"1,150.75",2004-03-01 09:04:59.000,1,36,"1,150.75","12,840,068.50",3153,101,158,129,0.00,0.00,0.00
1339,ESH04,"1,150.25",2004-03-01 09:32:41.000,9,36,"10,352.25","12,844,841.75",3162,101,159,129,-0.00,NaN,-0.00
1340,ESH04,"1,147.75",2004-03-01 10:11:27.000,2,36,"2,295.50","12,819,219.75",3164,101,159,129,-0.00,-0.00,-0.00
1341,ESH04,"1,151.75",2004-03-01 11:06:13.000,5,36,"5,758.75","12,869,654.50",3169,102,159,129,NaN,0.00,0.00
1422,ESM04,"1,116.75",2004-03-11 08:36:24.000,1,1,"1,116.75","12,950,949.75",1,1,1,130,NaN,NaN,NaN
1423,ESM04,"1,120.00",2004-03-11 08:58:26.000,1,1,"1,120.00","12,989,760.00",2,1,1,130,0.00,0.00,0.00
1424,ESM04,"1,118.75",2004-03-11 09:20:53.000,40,1,"44,750.00","13,020,012.50",42,1,3,131,-0.00,NaN,NaN
1425,ESM04,"1,118.75",2004-03-11 09:57:27.000,2,1,"2,237.50","13,022,250.00",44,1,3,131,0.00,0.00,0.00
1426,ESM04,"1,118.00",2004-03-11 10:32:12.000,37,1,"41,366.00","13,054,886.00",81,1,5,131,-0.00,NaN,-0.00
1607,ESM04,"1,126.25",2004-04-01 04:32:14.000,1,12,"1,126.25","14,211,022.50",1022,38,52,143,NaN,0.00,0.00
1608,ESM04,"1,128.00",2004-04-01 08:41:11.000,1,12,"1,128.00","14,234,232.00",1023,38,52,143,0.00,0.00,0.00
1609,ESM04,"1,130.25",2004-04-01 09:07:25.000,1,12,"1,130.25","14,263,755.00",1024,38,52,143,0.00,0.00,0.00
1610,ESM04,"1,132.00",2004-04-01 09:27:56.000,5,12,"5,660.00","14,291,500.00",1029,38,52,143,0.00,0.00,0.00
1611,ESM04,"1,134.50",2004-04-01 09:50:43.000,29,12,"32,900.50","14,355,963.00",1058,38,53,144,0.00,NaN,NaN
1843,ESM04,"1,109.00",2004-05-03 08:35:25.000,2,30,"2,218.00","15,742,255.00",2599,85,130,158,0.00,0.00,-0.00
1844,ESM04,"1,113.00",2004-05-03 09:00:54.000,2,30,"2,226.00","15,801,261.00",2601,85,131,159,0.00,NaN,-0.00
1845,ESM04,"1,112.75",2004-05-03 09:26:24.000,10,30,"11,127.50","15,808,839.25",2611,85,131,159,-0.00,-0.00,-0.00
1846,ESM04,"1,116.25",2004-05-03 09:51:14.000,1,30,"1,116.25","15,859,680.00",2612,85,131,159,0.00,0.00,0.00
1847,ESM04,"1,115.50",2004-05-03 10:32:00.000,1,30,"1,115.50","15,850,139.50",2613,86,131,159,NaN,-0.00,-0.00
2091,ESM04,"1,121.50",2004-06-01 00:37:52.000,4,48,"4,486.00","17,738,765.50",4221,134,212,178,0.00,NaN,0.00
2092,ESM04,"1,119.25",2004-06-01 08:43:20.000,4,48,"4,477.00","17,707,654.25",4225,135,212,178,NaN,-0.00,-0.00
2093,ESM04,"1,122.00",2004-06-01 09:11:12.000,15,48,"16,830.00","17,767,992.00",4240,135,213,178,0.00,NaN,0.00
2094,ESM04,"1,118.50",2004-06-01 09:39:32.000,1,48,"1,118.50","17,713,684.50",4241,135,213,178,-0.00,-0.00,-0.00
2095,ESM04,"1,116.00",2004-06-01 10:19:42.000,2,48,"2,232.00","17,676,324.00",4243,135,213,177,-0.00,-0.00,-0.00
2157,ESU04,"1,134.25",2004-06-10 08:45:51.000,1,1,"1,134.25","18,567,672.50",1,1,1,186,NaN,NaN,NaN
2158,ESU04,"1,134.50",2004-06-10 09:46:42.000,25,1,"28,362.50","18,600,127.50",26,1,2,187,0.00,NaN,NaN
2159,ESU04,"1,134.50",2004-06-10 11:43:30.000,11,1,"12,479.50","18,612,607.00",37,1,2,187,0.00,0.00,0.00
2160,ESU04,"1,134.50",2004-06-10 14:40:21.000,2,1,"2,269.00","18,614,876.00",39,1,2,187,0.00,0.00,0.00
2161,ESU04,"1,131.25",2004-06-14 07:39:35.000,1,1,"1,131.25","18,562,681.25",40,1,3,186,-0.00,NaN,-0.00
2268,ESU04,"1,139.00",2004-07-01 08:43:34.000,1,6,"1,139.00","19,163,675.00",456,23,23,192,-0.00,-0.00,-0.00
2269,ESU04,"1,137.50",2004-07-01 09:12:57.000,1,6,"1,137.50","19,139,575.00",457,23,23,192,-0.00,-0.00,-0.00
2270,ESU04,"1,135.75",2004-07-01 09:45:46.000,200,8,"227,150.00","19,337,279.50",657,23,33,194,-0.00,NaN,NaN
2271,ESU04,"1,129.25",2004-07-01 10:01:43.000,11,8,"12,421.75","19,239,032.25",668,23,34,193,-0.01,NaN,-0.01
2272,ESU04,"1,126.25",2004-07-01 10:16:06.000,47,9,"52,933.75","19,240,855.00",715,24,36,193,NaN,NaN,-0.00
2474,ESU04,"1,098.00",2004-08-02 08:34:21.000,5,26,"5,490.00","20,450,250.00",2256,64,113,205,-0.01,-0.01,-0.00
2475,ESU04,"1,098.25",2004-08-02 09:06:48.000,1,26,"1,098.25","20,456,004.50",2257,64,113,205,0.00,0.00,0.00
2476,ESU04,"1,100.00",2004-08-02 09:45:18.000,1,26,"1,100.00","20,489,700.00",2258,64,113,205,0.00,0.00,0.00
2477,ESU04,"1,100.25",2004-08-02 10:44:41.000,1,26,"1,100.25","20,495,457.00",2259,65,113,205,NaN,0.00,0.00
2478,ESU04,"1,103.25",2004-08-02 12:20:54.000,5,26,"5,516.25","20,556,857.25",2264,65,114,206,0.00,NaN,-0.00
2662,ESU04,"1,104.00",2004-09-01 07:22:37.000,5,42,"5,520.00","22,238,976.00",3775,102,189,223,NaN,0.00,0.00
2663,ESU04,"1,103.75",2004-09-01 09:03:23.000,4,42,"4,415.00","22,238,355.00",3779,102,189,223,-0.00,-0.00,-0.00
2664,ESU04,"1,109.25",2004-09-01 09:29:45.000,1,42,"1,109.25","22,350,278.25",3780,102,190,224,0.00,NaN,NaN
2665,ESU04,"1,108.25",2004-09-01 10:16:00.000,1,42,"1,108.25","22,331,237.50",3781,102,190,224,-0.00,-0.00,-0.00
2666,ESU04,"1,106.75",2004-09-01 11:54:50.000,7,42,"7,747.25","22,308,759.75",3788,102,190,224,-0.00,-0.00,-0.00
2701,ESZ04,"1,119.00",2004-09-09 07:49:28.000,3,1,"3,357.00","22,768,293.00",3,1,1,228,NaN,NaN,NaN
2702,ESZ04,"1,118.50",2004-09-09 09:26:19.000,1,1,"1,118.50","22,759,238.00",4,1,1,228,-0.00,-0.00,-0.00
2703,ESZ04,"1,115.50",2004-09-09 10:27:59.000,32,1,"35,696.00","22,733,890.00",36,1,2,228,-0.00,NaN,-0.00
2704,ESZ04,"1,115.50",2004-09-09 11:49:26.000,2,1,"2,231.00","22,736,121.00",38,1,2,228,0.00,0.00,0.00
2705,ESZ04,"1,118.50",2004-09-09 12:49:26.000,1,1,"1,118.50","22,798,385.50",39,1,2,228,0.00,0.00,0.00
2822,ESZ04,"1,117.00",2004-10-01 05:07:44.000,25,14,"27,925.00","24,028,904.00",1168,25,59,241,0.00,NaN,NaN
2823,ESZ04,"1,121.50",2004-10-01 08:41:48.000,1,14,"1,121.50","24,126,829.50",1169,25,59,242,0.00,0.00,NaN
2824,ESZ04,"1,125.50",2004-10-01 09:04:44.000,1,14,"1,125.50","24,214,007.00",1170,25,59,243,0.00,0.00,NaN
2825,ESZ04,"1,127.50",2004-10-01 09:26:37.000,100,15,"112,750.00","24,369,785.00",1270,25,64,244,0.00,NaN,NaN
2826,ESZ04,"1,129.25",2004-10-01 10:10:12.000,1,15,"1,129.25","24,408,738.75",1271,26,64,245,NaN,0.00,NaN
3022,ESZ04,"1,131.00",2004-11-01 07:02:50.000,1,33,"1,131.00","26,252,772.00",2868,65,144,263,0.00,0.00,0.00
3023,ESZ04,"1,129.00",2004-11-01 09:09:02.000,1,33,"1,129.00","26,207,477.00",2869,65,144,263,-0.00,-0.00,-0.00
3024,ESZ04,"1,130.75",2004-11-01 10:03:19.000,10,33,"11,307.50","26,259,407.25",2879,65,144,263,0.00,0.00,0.00
3025,ESZ04,"1,132.25",2004-11-01 10:36:27.000,2,33,"2,264.50","26,296,506.25",2881,65,145,263,0.00,NaN,0.00
3026,ESZ04,"1,131.00",2004-11-01 12:03:35.000,2,33,"2,262.00","26,269,737.00",2883,66,145,263,NaN,-0.00,-0.00
3214,ESZ04,"1,180.25",2004-12-01 08:39:17.000,7,48,"8,261.75","28,968,056.00",4200,103,211,290,0.00,NaN,-0.01
3215,ESZ04,"1,182.00",2004-12-01 09:00:35.000,1,48,"1,182.00","29,012,190.00",4201,103,211,291,0.00,0.00,NaN
3216,ESZ04,"1,184.00",2004-12-01 09:30:42.000,4,48,"4,736.00","29,066,016.00",4205,104,211,291,NaN,0.00,0.00
3217,ESZ04,"1,188.50",2004-12-01 09:47:21.000,5,48,"5,942.50","29,182,429.00",4210,104,211,292,0.00,0.00,NaN
3218,ESZ04,"1,187.00",2004-12-01 10:29:27.000,23,48,"27,301.00","29,172,899.00",4233,104,212,292,-0.00,NaN,-0.00
3271,ESH05,"1,179.00",2004-12-09 08:51:29.000,3,1,"3,537.00","29,399,544.00",3,1,1,294,NaN,NaN,NaN
3272,ESH05,"1,177.50",2004-12-09 09:22:03.000,3,1,"3,532.50","29,365,672.50",6,1,1,294,-0.00,-0.00,-0.00
3273,ESH05,"1,177.75",2004-12-09 10:07:34.000,1,1,"1,177.75","29,373,085.00",7,1,1,294,0.00,0.00,0.00
3274,ESH05,"1,182.00",2004-12-09 11:20:55.000,15,1,"17,730.00","29,496,810.00",22,1,2,295,0.00,NaN,NaN
3275,ESH05,"1,185.00",2004-12-09 12:07:37.000,5,1,"5,925.00","29,577,600.00",27,1,2,296,0.00,0.00,NaN
3381,ESH05,"1,218.75",2005-01-03 07:35:01.000,10,8,"12,187.50","31,146,375.00",623,23,32,312,NaN,NaN,0.00
3382,ESH05,"1,217.75",2005-01-03 09:00:15.000,18,8,"21,919.50","31,142,738.50",641,23,33,312,-0.00,NaN,-0.00
3383,ESH05,"1,212.75",2005-01-03 09:18:35.000,1,8,"1,212.75","31,016,081.25",642,23,33,311,-0.00,-0.00,-0.00
3384,ESH05,"1,210.50",2005-01-03 09:38:40.000,18,8,"21,789.00","30,980,326.50",660,23,34,310,-0.00,NaN,-0.00
3385,ESH05,"1,209.25",2005-01-03 10:13:55.000,10,9,"12,092.50","30,960,427.75",670,23,34,310,-0.00,-0.00,-0.00
3594,ESH05,"1,182.50",2005-02-01 08:34:07.000,100,30,"118,250.00","32,418,237.50",2482,65,125,325,0.00,NaN,NaN
3595,ESH05,"1,182.50",2005-02-01 09:23:04.000,75,31,"88,687.50","32,506,925.00",2557,65,128,326,0.00,NaN,NaN
3596,ESH05,"1,185.25",2005-02-01 10:13:19.000,1,31,"1,185.25","32,583,707.75",2558,66,128,326,NaN,0.00,0.00
3597,ESH05,"1,187.50",2005-02-01 10:46:58.000,2,31,"2,375.00","32,647,937.50",2560,66,129,327,0.00,NaN,NaN
3598,ESH05,"1,188.00",2005-02-01 11:39:10.000,50,31,"59,400.00","32,721,084.00",2610,66,131,328,0.00,NaN,NaN
3759,ESH05,"1,205.50",2005-03-01 06:46:02.000,10,45,"12,055.00","34,538,780.50",3718,98,186,346,0.00,0.00,0.00
3760,ESH05,"1,209.25",2005-03-01 08:50:10.000,4,45,"4,837.00","34,651,058.75",3722,98,187,347,0.00,NaN,-0.00
3761,ESH05,"1,211.00",2005-03-01 09:14:44.000,1,45,"1,211.00","34,702,416.00",3723,99,187,348,NaN,0.00,NaN
3762,ESH05,"1,210.00",2005-03-01 10:04:00.000,1,45,"1,210.00","34,674,970.00",3724,99,187,347,-0.00,-0.00,0.00
3763,ESH05,"1,211.25",2005-03-01 10:54:04.000,5,45,"6,056.25","34,716,847.50",3729,99,187,348,0.00,0.00,0.00
3827,ESM05,"1,215.00",2005-03-10 08:38:14.000,5,1,"6,075.00","35,249,580.00",5,1,1,353,NaN,NaN,NaN
3828,ESM05,"1,211.75",2005-03-10 09:19:12.000,1,1,"1,211.75","35,156,502.75",6,1,1,352,-0.00,-0.00,NaN
3829,ESM05,"1,209.00",2005-03-10 10:06:39.000,9,1,"10,881.00","35,087,598.00",15,1,1,351,-0.00,-0.00,NaN
3830,ESM05,"1,209.50",2005-03-10 10:50:05.000,3,1,"3,628.50","35,105,737.50",18,1,1,352,0.00,0.00,-0.00
3831,ESM05,"1,210.75",2005-03-10 12:09:40.000,1,1,"1,210.75","35,143,229.50",19,1,1,352,0.00,0.00,0.00
3982,ESM05,"1,187.75",2005-04-01 07:29:52.000,5,15,"5,938.75","35,853,421.50",1179,32,59,359,NaN,0.00,NaN
3983,ESM05,"1,189.50",2005-04-01 08:30:01.000,1,15,"1,189.50","35,907,436.50",1180,32,60,360,0.00,NaN,NaN
3984,ESM05,"1,192.00",2005-04-01 08:51:13.000,1,15,"1,192.00","35,984,096.00",1181,32,60,360,0.00,0.00,0.00
3985,ESM05,"1,187.50",2005-04-01 09:08:35.000,10,15,"11,875.00","35,860,125.00",1191,32,60,359,-0.00,-0.00,-0.00
3986,ESM05,"1,185.50",2005-04-01 09:24:54.000,10,15,"11,855.00","35,811,584.00",1201,32,61,359,-0.00,NaN,-0.00
4257,ESM05,"1,161.25",2005-05-02 07:53:58.000,1,38,"1,161.25","37,422,442.50",3219,87,161,375,NaN,0.00,NaN
4258,ESM05,"1,163.00",2005-05-02 08:57:51.000,2,38,"2,326.00","37,481,164.00",3221,87,162,375,0.00,NaN,0.00
4259,ESM05,"1,163.00",2005-05-02 09:19:06.000,50,39,"58,150.00","37,539,314.00",3271,87,164,376,0.00,NaN,NaN
4260,ESM05,"1,162.75",2005-05-02 09:53:08.000,1,39,"1,162.75","37,532,407.25",3272,87,164,376,-0.00,-0.00,-0.00
4261,ESM05,"1,159.50",2005-05-02 10:40:25.000,1,39,"1,159.50","37,428,660.00",3273,87,164,375,-0.00,-0.00,-0.00
4491,ESM05,"1,193.25",2005-06-01 08:40:36.000,165,58,"196,886.25","40,460,721.00",4901,133,246,405,0.00,NaN,-0.00
4492,ESM05,"1,196.75",2005-06-01 09:03:26.000,1,58,"1,196.75","40,580,595.75",4902,134,246,406,NaN,0.00,NaN
4493,ESM05,"1,201.75",2005-06-01 09:13:16.000,4,58,"4,807.00","40,754,947.75",4906,134,246,408,0.00,0.00,NaN
4494,ESM05,"1,203.75",2005-06-01 09:30:03.000,1,58,"1,203.75","40,823,977.50",4907,134,246,409,0.00,0.00,NaN
4495,ESM05,"1,203.25",2005-06-01 10:04:02.000,3,58,"3,609.75","40,810,630.25",4910,134,246,409,-0.00,-0.00,-0.00
4551,ESU05,"1,198.00",2005-06-09 08:37:00.000,3,1,"3,594.00","40,930,868.00",3,1,1,410,NaN,NaN,NaN
4552,ESU05,"1,200.75",2005-06-09 09:11:43.000,1,1,"1,200.75","41,026,025.25",4,1,1,411,0.00,0.00,NaN
4553,ESU05,"1,196.25",2005-06-09 09:46:30.000,1,1,"1,196.25","40,873,470.00",5,1,1,409,-0.00,-0.00,NaN
4554,ESU05,"1,199.25",2005-06-09 10:32:04.000,1,1,"1,199.25","40,977,173.25",6,1,1,410,0.00,0.00,0.00
4555,ESU05,"1,204.25",2005-06-09 11:13:33.000,1,1,"1,204.25","41,149,222.50",7,1,1,412,0.00,0.00,NaN
4700,ESU05,"1,198.50",2005-07-01 08:43:00.000,1,9,"1,198.50","41,834,841.00",743,30,38,419,0.00,0.00,-0.00
4701,ESU05,"1,201.25",2005-07-01 09:06:57.000,2,10,"2,402.50","41,933,235.00",745,31,38,420,NaN,0.00,-0.00
4702,ESU05,"1,201.25",2005-07-01 09:31:49.000,1,10,"1,201.25","41,934,436.25",746,31,38,420,0.00,0.00,0.00
4703,ESU05,"1,198.25",2005-07-01 10:04:12.000,1,10,"1,198.25","41,830,907.50",747,31,38,419,-0.00,-0.00,-0.00
4704,ESU05,"1,199.25",2005-07-01 10:42:40.000,53,10,"63,560.25","41,929,377.75",800,31,41,420,0.00,NaN,-0.00
4890,ESU05,"1,239.75",2005-08-01 08:47:24.000,3,32,"3,719.25","45,544,695.75",2574,68,129,456,0.00,0.00,-0.00
4891,ESU05,"1,240.50",2005-08-01 09:22:46.000,1,32,"1,240.50","45,573,489.00",2575,69,129,456,NaN,0.00,0.00
4892,ESU05,"1,237.25",2005-08-01 10:03:36.000,1,32,"1,237.25","45,455,327.75",2576,69,129,455,-0.00,-0.00,-0.00
4893,ESU05,"1,239.00",2005-08-01 11:17:58.000,12,32,"14,868.00","45,534,489.00",2588,69,130,456,0.00,NaN,-0.00
4894,ESU05,"1,239.25",2005-08-01 13:05:39.000,1,32,"1,239.25","45,544,916.00",2589,69,130,456,0.00,0.00,0.00
5116,ESU05,"1,222.25",2005-09-01 08:37:25.000,7,52,"8,555.75","46,870,843.00",4185,114,210,469,NaN,NaN,0.00
5117,ESU05,"1,221.75",2005-09-01 09:02:08.000,4,52,"4,887.00","46,856,556.00",4189,114,210,469,-0.00,-0.00,-0.00
5118,ESU05,"1,217.50",2005-09-01 09:21:13.000,2,52,"2,435.00","46,695,995.00",4191,114,210,467,-0.00,-0.00,0.00
5119,ESU05,"1,218.00",2005-09-01 09:50:58.000,1,52,"1,218.00","46,716,390.00",4192,114,210,468,0.00,0.00,NaN
5120,ESU05,"1,222.75",2005-09-01 10:22:08.000,5,52,"6,113.75","46,904,690.00",4197,114,210,470,0.00,0.00,NaN
5154,ESZ05,"1,239.50",2005-09-08 08:32:03.000,8,1,"9,916.00","47,816,191.50",8,1,1,479,NaN,NaN,NaN
5155,ESZ05,"1,239.00",2005-09-08 09:27:20.000,24,1,"29,736.00","47,826,639.00",32,1,2,479,-0.00,NaN,-0.00
5156,ESZ05,"1,239.00",2005-09-08 09:58:29.000,1,1,"1,239.00","47,827,878.00",33,1,2,479,0.00,0.00,0.00
5157,ESZ05,"1,240.25",2005-09-08 11:17:06.000,9,1,"11,162.25","47,887,292.75",42,1,3,479,0.00,NaN,0.00
5158,ESZ05,"1,238.25",2005-09-08 13:18:24.000,1,1,"1,238.25","47,811,309.00",43,1,3,479,-0.00,-0.00,-0.00
5325,ESZ05,"1,235.25",2005-10-02 20:39:54.000,2,14,"2,470.50","49,043,130.75",1134,35,57,491,0.00,0.00,NaN
5326,ESZ05,"1,236.50",2005-10-03 08:43:13.000,4,15,"4,946.00","49,097,705.50",1138,35,57,491,0.00,0.00,0.00
5327,ESZ05,"1,236.00",2005-10-03 09:05:28.000,1,15,"1,236.00","49,079,088.00",1139,35,57,491,-0.00,-0.00,-0.00
5328,ESZ05,"1,233.50",2005-10-03 09:23:17.000,1,15,"1,233.50","48,981,051.50",1140,35,58,490,-0.00,NaN,0.00
5329,ESZ05,"1,230.75",2005-10-03 09:48:15.000,2,15,"2,461.50","48,874,313.25",1142,36,58,489,NaN,-0.00,-0.00

### F. Apply the Jarque-Bera normality test on returns from the three bar types. What method achieves the lowest test statistic?

- I have not reviewed a deep study of Jarque–Bera and am not sure if the output from the library from jarque_bera is correct. Generally, i look for the lowest Jarque-Bera test statistic which indicates the distribution tends more toward normal.
- The Jarque–Bera test is a goodness-of-fit test of whether sample data have the skewness and kurtosis matching a normal distribution, (reference [wikipedia Jarque–Bera test
](https://en.wikipedia.org/wiki/Jarque%E2%80%93Bera_test#:~:text=In%20statistics%2C%20the%20Jarque%E2%80%93Bera,test%20statistic%20is%20always%20nonnegative.))
- Apply the Jarque-Bera test to assess the normality of returns.

In [19]:
# Apply the Jarque-Bera test to returns
tick_jb_test = jarque_bera(df['TickReturns'].dropna())
volume_jb_test = jarque_bera(df['VolumeReturns'].dropna())
dollar_jb_test = jarque_bera(df['DollarReturns'].dropna())

print(f"Jarque-Bera test statistic for Tick bars: {tick_jb_test.statistic}")
print(f"Jarque-Bera test statistic for Volume bars: {volume_jb_test.statistic}")
print(f"Jarque-Bera test statistic for Dollar bars: {dollar_jb_test.statistic}")

Jarque-Bera test statistic for Tick bars: 351640.8284988022
Jarque-Bera test statistic for Volume bars: 438130.255016064
Jarque-Bera test statistic for Dollar bars: 7667618.045951913